<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<div class="contents">
  <%= form_with model: @message, class: 'js-form', remote: true do |f| %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>
  <ul class="messages">
    <%= render @messages %>
  </ul>
</div>
